*{
   font-family: 'Open Sans', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

 body{
    height: 100vh;
    box-sizing: border-box;
 }

 .conteudo{
    display: flex;
   
 }

 .card{
    width: calc(50% - 10px);
    margin: 5px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   
 }

header > p {
    color: #999999;    
}

.card > .ler-mais {
    color: #007cb8;
}

